@tailwind base;
@tailwind components;
@tailwind utilities;


/*
Tailwind Shades (VSCode Extension) --- ctrl+k ctrl+g
Ideas for colors --- https://www.tailwindshades.com/
*/

.COLORS-FOR-REFERENCE-TAILWIND-SHADES{
  /* --- #1964d4 --- */
  --100: #d1e0f6;
  --200: #a3c1ee;
  --300: #75a2e5;
  --400: #4783dd;
  --500: #1964d4;
  --600: #1450aa;
  --700: #0f3c7f;
  --800: #0a2855;
  --900: #05142a;

/* --- crimson --- */
  --100: #f8d0d8;
  --200: #f1a1b1;
  --300: #ea728a;
  --400: #e34363;
  --500: #dc143c;
  --600: #b01030;
  --700: #840c24;
  --800: #580818;
  --900: #2c040c;

/* --- FF6B66 --- */
  --100: #ffe1e0;
  --200: #ffc4c2;
  --300: #ffa6a3;
  --400: #ff8985;
  --500: #ff6b66;
  --600: #cc5652;
  --700: #99403d;
  --800: #662b29;
  --900: #331514;
  
/* --- grey --- */
  --100: #e6e6e6;
  --200: #cccccc;
  --300: #b3b3b3;
  --400: #999999;
  --500: #808080;
  --600: #666666;
  --700: #4d4d4d;
  --800: #333333;
  --900: #1a1a1a;

/* --- green --- */
    --100: #cce6cc;
    --200: #99cc99;
    --300: #66b366;
    --400: #339933;
    --500: #008000;
    --600: #006600;
    --700: #004d00;
    --800: #003300;
    --900: #001a00;

/* --- gold --- */
    --100: #fff7cc;
    --200: #ffef99;
    --300: #ffe766;
    --400: #ffdf33;
    --500: #ffd700;
    --600: #ccac00;
    --700: #998100;
    --800: #665600;
    --900: #332b00;



/* --- beige --- */
  --100: #f2ede5;
  --200: #e5dbcb;
  --300: #d8c9b1;
  --400: #cbb797;
  --500: #bea57d;
  --600: #988464;
  --700: #72634b;
  --800: #4c4232;
  --900: #262119;

/* --- magenta --- */
  --100: #ffccff;
  --200: #ff99ff;
  --300: #ff66ff;
  --400: #ff33ff;
  --500: #ff00ff;
  --600: #cc00cc;
  --700: #990099;
  --800: #660066;
  --900: #330033;

/* --- coral --- */
  --100: #ffe5dc;
  --200: #ffccb9;
  --300: #ffb296;
  --400: #ff9973;
  --500: #ff7f50;
  --600: #cc6640;
  --700: #994c30;
  --800: #663320;
  --900: #331910;

/* --- orange --- */
  --100: #ffedcc;
  --200: #ffdb99;
  --300: #ffc966;
  --400: #ffb733;
  --500: #ffa500;
  --600: #cc8400;
  --700: #996300;
  --800: #664200;
  --900: #332100;
}


/*==================================================================*/


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/*==================================================================*/

@layer components{
  /* ------------ Main Root ------------ */
  .main-container{
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-4 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }
  
  /* ------------ Main Root ------------ */
  .head-text{
    @apply text-heading2-bold text-light-1;
  }

  /* ------------ Top Bar ------------ */
  .topbar{
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  /* ------------ Left Sidebar ------------ */
  .leftsidebar{
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-slate-600 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar-link{
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  /* ------------ Right Sidebar ------------ */
  .rightsidebar{
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-slate-600 px-10 pb-7 pt-28 max-xl:hidden;
  }
  

  /* ------------ Bottom Bar ------------ */
  .bottombar{
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }
  .bottombar-container{
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }
  .bottombar-link{
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }
}


/*==================================================================*/

@layer utilities{
  .custom-scrollbar::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    border-radius: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track{
    background: green;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb{
    background: #cc5652;
    border-radius: 50px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #1450aa;
  }
}